@import "!/styles/variables.scss";

.navbar {
  margin-bottom: $layout-spacing-lg;
  border-bottom: 1px solid $border-color;

  .btn.btn-link {
    border: 1px solid $border-color;
    border-top-width: 0;
    border-bottom-width: 0;

    &:first-child {
      border-right-width: 0;
    }

    &:focus, &:hover {
      background: fade_out($primary-color, 0.9);
    }
  }
}
