@import "!/styles/variables.scss";
@import "!/styles/mixins.scss";

.ProseMirror-menubar {
  border-bottom: 1px solid $border-color;
}

.ProseMirror {
  border-radius: $border-radius;
  color: inherit;
  display: block;
  line-height: 1.5;
  overflow-x: auto;
  padding: 1rem;
  width: 100%;
  border: 1px solid transparent;

  &.ProseMirror-focused {
    outline: none;
    border-color: fade_out($primary-color, 0.7);
  }

  > *:last-child {
    margin-bottom: 0;
  }

  pre {
    border-radius: $border-radius;
    color: $body-font-color;
    position: relative;

    &::before {
      color: $gray-color;
      content: attr(data-params);
      font-size: $font-size-sm;
      position: absolute;
      right: $layout-spacing;
      top: $unit-h;
    }

    code {
      color: inherit;
      display: block;
      line-height: 1.5;
      overflow-x: auto;
      padding: 1rem;
      width: 100%;
    }
  }

}
