@import "../variables";

.action-list {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
}

.action-list-group {
  display: flex;

  .action-list-item {
    height: auto;
    padding: $unit-2;

    &:not([disabled],.active) {
      &:focus, &:hover {
        background: fade_out($primary-color, 0.9);
      }
    }

    &.active {
      background: fade_out($primary-color, 0.8);
    }

    > .icon {
      display: block;
    }
  }

  > .divider-vert {
    padding: 0 $unit-2;
  }
}
