@import "variables";

.container {
  max-width: 1440px;
}

.avatar {
  &, img {
    border-radius: 0;
  }
  border: 1px solid $border-color;
}

.column {
  padding: $layout-spacing;
}

.panel-nav {
  margin-bottom: $layout-spacing;
}

p {
  margin: 0 0 $line-height/2;
}

.empty-transparent {
  background: none;
}

.d-flex {
  flex: 1;
  justify-content: space-between;
}

.ox-visible {
  overflow-x: visible;
}

.oy-initial {
  overflow-y: initial !important;
}

.tooltip::after {
  text-align: center;
}

textarea.form-input {
  min-height: 6em;
  max-width: 100%;
  min-width: 100%;
}
