@import "~spectre.css/src/_variables";

/*============================================== spectre.css overwrites ==============================================*/

$base-font-family: "Spectral", system-ui, "Segoe UI", Roboto;
$mono-font-family: "Source Code Pro", "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, "Lucida Console", Monaco, monospace;
$body-font-family: $base-font-family, $fallback-font-family;

$border-radius: 0;

/*================================================= custom variables =================================================*/

$heading-font-family: $base-font-family, $fallback-font-family;
